body {
  background-color: var(--mainGrayLight);
  font-family: var(--fontRoboto);
  color: var(--mainTextBlack);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  padding: 30px;
  border-bottom: 1px solid var(--mainGrayLight2);
}
.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: var(--fontOpenSans);
  font-size: 32px;
  font-weight: 700;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar a {
  color: var(--mainTextBlack);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -2%;
}
.navbar li:last-child a {
  color: var(--mainGreenColor);
  font-weight: 800;
}
.navbar img{
  display: none;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  padding: 30px;
}
.header-bottom h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 24px;
  text-align: left;
}
.header-bottom p {
  font-family: var(--fontOpenSans);
  color: var(--mainTextGray);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -2%;
  margin-bottom: 40px;
  text-align: left;
}
.header-bottom button {
  display: flex;
  background-color: var(--mainGreenColor);
  color: var(--mainTextWhite);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 24px;
  border-radius: 10px;
  border: none;
}
main {
  margin: 0 56px;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
}
.section_title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 24px;
}

.section_description {
  width: 100%;
  height: 52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 24px;
}
.section_description p {
  /* width: 895px; */
  text-align: center;
}
.card_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainTextWhite);
  height: 340px;
  width: 427px;
  padding: 0px 24px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.card img {
  text-align: center;
  overflow: clip;
  width: 88px;
  height: 88px;
  margin-top: 64px 0 24px 0;
}
.card_title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 16px;
}

.card_description {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.task_parent {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 28px;
}
.task {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  background-color: var(--mainTextWhite);
  height: 216px;
  width: 427px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 2px 8px 0px #0000001a;
}
.task_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.task_description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.task_button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.task_button button {
  background-color: var(--mainGreenColor);
  color: var(--mainTextWhite);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 40px;
  border: none;
}
.task_button p {
  font-style: italic;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: right;
}
.task_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.View {
  height: 64px;
  width: 134px;
  border-radius: 8px;
  padding: 20px 24px 20px 24px;
  margin-top: 40px;
  background-color: var(--mainTextBlack);
  color: var(--mainTextWhite);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.Feauture {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 60px 0;
}
.FeautureInfo {
  width: 644px;
  box-sizing: border-box;

  flex-direction: column;
  gap: 24px;
}
.FeautureInfo img {
  height: 80px;
  width: 80px;
  left: 0px;
  top: 0px;
  border-radius: 100px;
}
.FeautureInfo_title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.FeautureInfo_description {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
}
.members {
  height: 400px;
  width: 484px;
  padding: 32px 40px;
  background-color: var(--mainTextWhite);
  border-radius: 16px;
  border: 4px solid #303031;
}
.members_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 28px;
}
.members ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-content: center;
  justify-content: left;
}
.members ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  
}
.members li img {
  height: 72px;
  width: 72px;
  border-radius: 36px;
}
#cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin: 0;
  gap: 26px;
  
}
#name {
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
  line-height: 4px;
  letter-spacing: -0.02em;
  text-align: left;

}
#share {
  color: var(--mainTextGray);
  font-size: 16px;
  font-weight: 500;
  line-height: 4px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* footer  */

footer {
  margin: 56px;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  padding: 30px;
}

.footer-top h5 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 24px;
  text-align: left;
}

.footer-top p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 40px;
}
.footer-top button {
  display: flex;
  background-color: var(--mainGreenColor);
  color: var(--mainTextWhite);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 24px;
  border-radius: 10px;
  border: none;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 30px;
}
.footer-bottom h6 {
  font-family: var(--fontOpenSans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.04em;
  text-align: left;
}
.footer_nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer_nav a {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--mainTextBlack);
}
.footer_nav li:last-child a {
  color: var(--mainGreenColor);
  font-weight: 700;
}
